In [3]:
import pandas as pd
import numpy as np

In [6]:
MID_path = "./data/military/"

MID_raw_df = pd.read_stata(MID_path + "MIDA 4.3.dta")

MID_raw_df.sort_values('styear')

,dispnum3,dispnum4,stday,stmon,styear,endday,endmon,endyear,outcome,settle,...,hiact,hostlev,recip,numa,numb,link1,link2,link3,ongo2010,version
1473,3239,-9,27,7,1816,27,7,1816,1,3,...,16,4,0,1,1,0,0,0.0,0,4.3
1493,3321,-9,12,9,1817,1,11,1817,4,1,...,11,3,1,1,1,0,0,0.0,0,4.3
591,1567,-9,15,3,1818,30,5,1818,1,1,...,16,4,1,1,1,0,0,0.0,0,4.3
95,167,-9,10,3,1821,8,4,1821,1,2,...,17,4,1,1,1,0,0,0.0,0,4.3
195,366,-9,27,8,1821,27,2,1822,5,3,...,7,3,0,1,1,0,0,0.0,0,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2221,4507,41002,29,7,2010,30,7,2010,5,3,...,11,3,1,1,1,40801,40902,0.0,1,4.3
2222,4508,41003,-9,10,2010,-9,10,2010,5,3,...,12,3,1,1,1,0,0,0.0,1,4.3
2261,4547,51001,12,5,2010,31,12,2010,5,3,...,16,4,0,1,1,0,0,0.0,1,4.3
2205,4491,31004,7,9,2010,28,11,2010,5,3,...,15,4,1,1,1,0,0,0.0,1,4.3
2220,4506,41001,8,1,2010,8,1,2010,5,3,...,7,3,0,1,1,0,0,0.0,0,4.3

In [7]:
MID_participant_raw_df = pd.read_stata(MID_path + "MIDB 4.3.dta")

MID_participant_raw_df.sort_values('styear')

,dispnum3,dispnum4,stabb,ccode,stday,stmon,styear,endday,endmon,endyear,sidea,revstate,revtype1,revtype2,fatality,fatalpre,hiact,hostlev,orig,version
3525,3239,-9,USA,2,27,7,1816,27,7,1816,1,1,2,-9,0,0,16,4,1,4.3
3524,3239,-9,SPN,230,27,7,1816,27,7,1816,0,0,0,-9,0,0,0,1,1,4.3
3566,3321,-9,TUR,640,12,9,1817,1,11,1817,0,0,0,-9,0,0,11,3,1,4.3
3565,3321,-9,USR,365,12,9,1817,1,11,1817,1,1,1,-9,0,0,7,3,1,4.3
1609,1567,-9,SPN,230,15,3,1818,30,5,1818,0,0,0,-9,-9,-9,16,4,1,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5448,4548,51002,IRN,630,30,5,2010,30,11,2010,0,0,0,0,0,0,0,1,1,4.3
5229,4442,21001,KYR,703,17,1,2010,12,6,2010,1,0,0,0,0,0,17,4,1,4.3
5315,4483,30901,USA,2,25,7,2010,26,11,2010,1,1,2,0,0,0,7,3,0,4.3
5232,4443,21002,GRC,350,8,6,2010,8,6,2010,0,0,0,0,0,0,0,1,1,4.3
5360,4506,41001,USA,2,8,1,2010,8,1,2010,1,0,0,0,0,0,7,3,1,4.3

In [13]:
MID_country_df = pd.read_csv(MID_path + "COW country codes.csv")

MID_country_df[MID_country_df['CCode'] == 365]

    StateAbb  CCode StateNme
101      RUS    365   Russia

In [15]:
MID_incident_raw_df = pd.read_stata(MID_path + "MIDI 4.3.dta")

MID_incident_raw_df

,dispnum3,incidnum3,dispnum4,incidnum4,stday,stmon,styear,endday,endmon,endyear,duration,tbi,fatality,fatalpre,action,hostlev,numa,revtype1,revtype2,version
0,3551,3551001,-9,-9,16,7,1992,16,7,1992,1,129,0,0,7,3,13,2,0,4.3
1,3551,3551002,-9,-9,21,11,1992,24,9,1996,1404,-9,0,0,13,4,9,2,0,4.3
2,3551,3551003,-9,-9,-9,1,1993,-9,1,1993,-9,-9,0,0,7,3,3,2,0,4.3
3,3551,3551004,-9,-9,14,1,1993,-9,1,1993,-9,16,0,0,7,3,1,2,0,4.3
4,3551,3551005,-9,-9,30,1,1993,30,1,1993,1,4,0,0,15,4,1,2,0,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3301,4598,4598001,71001,71001001,27,9,2010,27,9,2010,1,3,0,0,16,4,1,2,0,4.3
3302,4598,4598002,71001,71001002,30,9,2010,30,9,2010,1,57,1,3,17,4,1,2,0,4.3
3303,4598,4598003,71001,71001003,26,11,2010,26,11,2010,1,-9,0,0,16,4,1,2,0,4.3
3304,4599,4599001,71002,71002001,12,10,2010,24,11,2010,44,49,0,0,15,4,1,0,0,4.3
3305,4599,4599002,71002,71002002,30,11,2010,3,12,2010,1,-9,0,0,15,4,1,0,0,4.3